.footer {
  background-color: #1B262F;
  background-image: url(../../images/footer-back.png);
  background-repeat: no-repeat;
  background-size: 1440px 100px;
  background-position:  center bottom;

  &__container {
    display: flex;
    align-items: center;
    padding: 31px 20px;
    width: 100%;
  }

  &__nav {
    margin: 0;
    padding: 0;

    &-list {
      margin: 0;
      padding: 0;
      margin-left: 64px;
      display: flex;
      list-style: none;
    }

    &-item + &-item {
      margin-left: 40px;
    }

    &-link {
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      color: #FBFCFE;
      mix-blend-mode: normal;
      opacity: 0.7;
      text-decoration: none;

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 0.8;
      }
    }
    
  }

  &__right {
    margin-left: auto;

    &-link {
      margin-left: 24px;
      text-decoration: none;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }

    
  }
}


@media only screen and (max-width: 768px){
  .footer {
    background-image: url(../../images/footer-back2.png);
    background-repeat: no-repeat;
    background-size: 768px 100px;
    background-position:  center bottom;

    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__nav {
      margin: 40px 0;

      &-list {
        flex-direction: column;
      }

      &-item + &-item {
        margin-left: 0;
        margin-top: 31px;
      }
    }

    &__right {
      margin-left: 0;
    }
    
  }
}

@media only screen and (max-width: 576px){
 .footer {
  background-image: url(../../images/footer-back3.png);
  background-repeat: no-repeat;
  background-size: 376px 176px;
  background-position:  center bottom;
 }
}